body {
    background-color: rgba(119, 9, 9, 0.712);
    margin: 0px;
}

header {
    background-color: rgb(rgb(38, 80, 197), green, rgb(76, 76, 170));
    border: solid 3px black;
    padding: 10px;
    margin: 0px;
}

nav{
    background-color:rgb(238, 133, 64);
}

h1 {
    margin-left: 450px;
    color:white;
}

h3 {
    margin-left: 400px;
}

.FruitPictures {
    color: white;
    columns: 400px;

}

.FruitPictures {
    list-style: none;
    display: inline-block;
}